doctype html
html(lang='ja')
    head
        title Untitled
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='author')
        meta(name="robots", content="index, follow")
    body
      h1 Internal server error
      p please contact to the owner of this app.
      p #{error.code}
