doctype html
html(lang='ja')
    head
      title New Registaration
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    body
      h1 Please enter the password
      form(action="/u/c" method="POST")
        label ユーザー名
        input(type="text" name="name")
        br
        label パスワード
        input(type="password" name="password")
        br
        label 確認
        input(type="password" name="confirm")
        br
        input(type="submit" value="登録")
