doctype html
html(lang='ja')
    head
        title koa sample
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='description', content='description')
        meta(name='keywords', content='keywords')
        meta(name='author', content='katsew')
        meta(name="robots", content="index, follow")

        //- ----- link website ----- //
        link(rel='icon' href='src/img/favicon.png' type='image/x-icon')

    body
        
        h1 Hello, World!!
        h2 this is good!
        h3 please registar our service!!!!
        
        h4 新規登録
        form(action="/m/c" method="POST")
          label メールアドレス
          input(type="email" name="mail")
          br
          input(type="submit" value="新規登録")

        h4 ログイン
        if error && error.type === "login"
          p #{error.text}
        form(action="/user/login" method="POST")
          label メールアドレス
          input(type="email" name="mail")
          br
          label パスワード
          input(type="password" name="password")
          br
          input(type="submit" value="ログイン")
